* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-style: italic;
    background-image: url('./assets/back3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 5px;
    background-color: rgb(229, 233, 241);
}

.top {
    display: flex;
    flex-direction: column;
}

.heading {
    margin-bottom: 6vh;
}

.container1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}

.margin {
    margin: 3vh 10vw;
}

.sub1 {
    padding-top: 20px;
}

img {
    height: 30vh;
    width: auto;
    border-radius: 20px;
    margin: 0 50px 0 20px;
}

.skillcon {
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

#about {
    width: 70vw;
    max-width: 100%;
}

.education {
    display: flex;
    margin: 3vh 10vw;
}

.languages {
    margin: 4vh 0;
    display: flex;
    gap: 2vh;
    flex-direction: column;
    align-items: center;
}

.languages > img {
    width: 15vw;
    height: auto;
}

.inskill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}

@media (min-width: 700px) {
    .container1 {
        flex-direction: row;
        justify-content: center;
    }

    .languages {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .languages > img {
        width: 10vw;
    }

    .inskill {
        flex-direction: row;
        align-items: center;
    }
}
